<div class="task-lists">
  <!--能接受拖拽：app-droppable [dragEnterClass] [dropTags]-->
  <!--能拖拽: app-draggable dragTag dragData draggedClass-->

  <app-task-list
    *ngFor="let list of lists"
    class="list-container"

    app-droppable
    [dragEnterClass]="'drag-enter'"
    [dropTags]="['task-item','task-list']"

    [app-draggable]="true"
    [dragTag]="'task-list'"
    [dragData]="list"
    [draggedClass]="'drag-start'"

    (dropEE)="handleMove($event,list)"
  >
    <app-task-header
      [list]="list"
      (newTaskEE)="openNewTaskDialog()"
      (moveAllTaskEE)="openMoveTaskDialog()"
      (deleteTaskListEE)="openDeleteTaskListDialog(list)"
      (updateTaskListEE)="openUpdateTaskListDialog(list)"
    ></app-task-header>
    <app-task-item
      *ngFor="let task of list.tasks"
      [item]="task"
      (taskItemEE)="openUpdateTaskDialog(task)"
    >
    </app-task-item>
  </app-task-list>
</div>

<button md-fab class="fab-button" type="button" (click)="openNewTaskListDialog()">
  <md-icon>add</md-icon>
</button>
