<div class="task-lists">
  <app-task-list *ngFor="let list of lists" class="list-container">
    <app-task-header
      [list]="list"
      (newTaskEE)="openNewTaskDialog()"
      (moveAllTaskEE)="openMoveTaskDialog()"
      (deleteTaskListEE)="openDeleteTaskListDialog(list)"
      (updateTaskListEE)="openUpdateTaskListDialog(list)"
    ></app-task-header>
    <app-task-item
      *ngFor="let task of list.tasks"
      [item]="task"
      (taskItemEE)="openUpdateTaskDialog(task)"
    >
    </app-task-item>
  </app-task-list>
</div>

<button md-fab class="fab-button" type="button" (click)="openNewTaskListDialog()">
  <md-icon>add</md-icon>
</button>
