<md-sidenav-container [class.myapp-dark-theme]="darkTheme">
  <!--mode:side/push/over-->
  <md-sidenav #sidenav mode="over">
    <app-sidebar (navClickEE)="sidenav.toggle()"></app-sidebar>
  </md-sidenav>
  <div class="site">
    <header>
      <app-header (toggleSlideMenu)="sidenav.toggle()" (toggleDarkTheme)="switchTheme($event)"></app-header>
    </header>
    <main>
      <router-outlet></router-outlet>
      <!--<div class="square" [@square]="squareState" (click)="onClick()"></div>-->
    </main>
    <footer>
      <app-footer></app-footer>
    </footer>
  </div>
</md-sidenav-container>

