/*引入angular material的主题支持*/
@import "~@angular/material/theming";
/*引入angular material的基本的一些风格*/
@include mat-core();

/*白天模式*/
$my-app-primary:mat-palette($mat-deep-purple);
$my-app-accent:mat-palette($mat-pink,A200,A100,A400);
$my-app-warn:mat-palette($mat-red);
$my-app-theme:mat-light-theme($my-app-primary,$my-app-accent,$my-app-warn);
@include angular-material-theme($my-app-theme);

/*黑夜模式*/
$my-dark-primary:mat-palette($mat-blue-grey);
$my-dark-accent:mat-palette($mat-amber,A200,A100,A400);
$my-dark-warn:mat-palette($mat-deep-orange);
$my-dark-theme:mat-dark-theme($my-dark-primary,$my-dark-accent,$my-dark-warn);

.myapp-dark-theme{
  @include angular-material-theme($my-dark-theme);
}
